<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/styles/style2.css">
</head>
<body>

    <!-- Navigation Menu -->
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- About Content -->
    <div class="content">
        <h1>About Us</h1>
        <p> This website is designed for college students of all majors and levels. It 
            provides a centralized hub for accessing course notes from various 
            disciplines. You can explore notes from different professors, courses, and 
            semesters..</p>

        <h2>Our Mission</h2>
        <p> This website houses a rich collection of resources to aid your academic 
            pursuits. You'll find a wide range of materials, such as lecture notes, 
            summaries, practice problems, and study guides.</p>

        <h2>Our Vision</h2>
        <p> We encourage you to explore the website and discover the wealth of 
            resources available to you. Start by browsing the categories, searching for 
            specific courses, or reading through the FAQs.</p>
    </div>

</body>
</html>
